# API Keys (keep secret - NEVER commit the actual values)
TMDB_API_KEY=
GOOGLE_BOOKS_API_KEY=

# Firebase
FIRESTORE_PROJECT_ID=recos-bnm
FIRESTORE_EMULATOR_HOST=localhost:8080
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
GOOGLE_APPLICATION_CREDENTIALS=

# Server
PORT=3001
